<nav class="bg-gray-900">
  <div class="mx-auto max-w-7xl px-6">
    <div class="flex h-16 gap-4 items-center">
      <img
        class="h-8 w-auto"
        src="../assets/logos/note-logo-light.svg"
        alt="Note taker app"
      />
      <span class="h-full w-1 bg-red-600"></span>
      <div class="flex gap-4">
        <a
          routerLink="/playlists"
          routerLinkActive="bg-gray-700"
          class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
          >My playlists</a
        >
        <a
          routerLink="/search"
          routerLinkActive="bg-gray-700"
          class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
          >Search</a
        >
        <a
          routerLink="/auth"
          routerLinkActive="bg-gray-700"
          class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
          >Authentication</a
        >
      </div>
    </div>
  </div>
</nav>
