<nav class="bg-gray-900">
  <div class="mx-auto max-w-7xl px-6">
    <div class="flex h-16 gap-4 items-center justify-between">
      <div class="flex gap-4">
        <img
          class="h-6 sm:h-8 w-auto"
          src="../assets/logos/note-logo-light.svg"
          alt="Note taker app"
        />
        <span class="h-inherit w-1 bg-red-600"></span>
        <div class="hidden sm:block">
          <a
            routerLink="/playlists"
            routerLinkActive="bg-gray-700"
            *ngIf="isAuthenticated"
            class="inline-block mr-2 text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
            >My playlists</a
          >
          <a
            routerLink="/search"
            routerLinkActive="bg-gray-700"
            *ngIf="isAuthenticated"
            class="inline-block text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
            >Search</a
          >
          <!-- <a
            routerLink="/auth"
            routerLinkActive="bg-gray-700"
            *ngIf="!isAuthenticated"
            class="inline-block mr-2 text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
            >Sign in | Login
          </a> -->
        </div>
      </div>
      <div class="hidden sm:block">
        <button
          *ngIf="isAuthenticated"
          class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
          (click)="onLogout()"
        >
          Logout
        </button>
      </div>
      <div (click)="openMobileMenu()" class="sm:hidden" *ngIf="isAuthenticated">
        <button class="flex justify-center">
          <ng-icon
            name="heroBars2"
            class="text-gray-300 hover:text-white text-3xl"
            *ngIf="!isOpen"
          ></ng-icon>
          <ng-icon
            name="heroXMark"
            class="text-gray-300 hover:text-white text-3xl"
            *ngIf="isOpen"
          ></ng-icon>
        </button>
      </div>
    </div>
    <div class="flex flex-col items-stretch gap-1 pb-2" *ngIf="isOpen">
      <a
        routerLink="/playlists"
        routerLinkActive="bg-gray-700"
        *ngIf="isAuthenticated"
        class="text-gray-300 text-center hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
        >My playlists</a
      >
      <a
        routerLink="/search"
        routerLinkActive="bg-gray-700"
        *ngIf="isAuthenticated"
        class="text-gray-300 text-center hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
        >Search</a
      >
      <!-- <a
        routerLink="/auth"
        routerLinkActive="bg-gray-700"
        *ngIf="!isAuthenticated"
        class="text-gray-300 text-center hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
        >Sign in | Login
      </a> -->
      <button
        *ngIf="isAuthenticated"
        class="text-gray-300 hover:bg-gray-700 rounded-md px-3 py-2 text-md font-medium hover:text-white focus:outline focus:outline-2 focus:outline-slate-50"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
