<div class="w-52 sm:w-64 md:w-96 mx-2 my-1 md:mx-4">
  <p mat-dialog-title>Confirm your identity before updating email!</p>
  <p class="mb-2 text-gray-600 text-md text-center">
    Please enter your current password below:
  </p>
  <form
    #confirmPasswordForm="ngForm"
    ngNativeValidate
    class="flex flex-col gap-2"
  >
    <input
      [ngClass]="{
        'invalid:border-red-600 invalid:focus:outline-red-600':
          confirmPasswordForm.touched
      }"
      class="w-full max-w-md text-center text-gray-900 bg-gray-200 py-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700 border"
      id="password"
      ngModel
      name="password"
      required
    />
    <mat-dialog-actions align="center">
      <button
        [mat-dialog-close]="confirmPasswordForm"
        class="w-fit h-fit px-2 py-1 mr-1 rounded-md bg-red-600 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700 disabled:bg-red-400"
        [disabled]="confirmPasswordForm.invalid"
      >
        Confirm
      </button>
      <button
        [mat-dialog-close]="false"
        class="w-fit h-fit px-2 py-1 rounded-md bg-gray-700 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700"
      >
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
</div>
