<h1 mat-dialog-title class="text-center">Forgot your password?</h1>
<mat-dialog-content class="max-w-3xl">
  <p class="mb-2 text-gray-700">
    No worries! Enter your sign-in email below and we'll send you a password
    reset email. Just remember: when you update your password, it becomes your
    new sign-in password for accessing our platform.
  </p>
  <form
    #passwordResetEmailForm="ngForm"
    ngNativeValidate
    class="flex flex-col gap-2 items-center"
  >
    <p class="text-gray-600 text-md text-center">
      Please enter your current email below:
    </p>
    <input
      [ngClass]="{
        'invalid:border-red-600 invalid:focus:outline-red-600':
          passwordResetEmailForm.touched
      }"
      class="w-full text-center text-gray-900 bg-gray-200 py-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700 border"
      id="email"
      email
      ngModel
      name="email"
      required
    />
    <mat-dialog-actions align="center">
      <button
        [mat-dialog-close]="passwordResetEmailForm"
        class="w-fit h-fit px-2 py-1 mr-1 rounded-md bg-red-600 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700 disabled:bg-red-400"
        [disabled]="passwordResetEmailForm.invalid"
      >
        Update
      </button>
      <button
        [mat-dialog-close]="false"
        class="w-fit h-fit px-2 py-1 rounded-md bg-gray-700 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700"
      >
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
