<div class="max-w-6xl mx-auto p-2" *ngIf="notes">
  <div *ngFor="let note of notes; let i = index">
    <div class="flex gap-3 pb-2 w-full max-w-md mx-auto">
      <button
        type="button"
        class="w-fit h-fit px-2 rounded-md bg-gray-500 text-white hover:bg-gray-700 focus:outline focus:outline-2 focus:outline-gray-700"
        (click)="onPlayHere(i)"
      >
        {{ note.timestamp }}
      </button>
      <p
        class="w-full max-w-md h-fit p-2 pl-3 rounded-md text-gray-900 border border-gray-300"
      >
        {{ note.note }}
      </p>
      <button (click)="onDelete(i)">
        <ng-icon name="heroXMark" class="text-gray-900 text-2xl"></ng-icon>
      </button>
    </div>
  </div>
</div>
