<div class="max-w-6xl mx-auto p-2" *ngIf="notes">
  <div
    class="flex gap-2 place-content-center items-center"
    *ngIf="notes.length > 0"
  >
    <p>Sort by timestamp:</p>
    <button
      type="button"
      class="w-7 h-7 rounded-full flex items-center justify-center bg-gray-200 hover:bg-gray-300 focus:outline focus:outline-2 focus:outline-gray-700"
      (click)="onSortAsc()"
    >
      <ng-icon name="heroArrowUp"></ng-icon>
    </button>
    <button
      type="button"
      class="w-7 h-7 rounded-full flex items-center justify-center bg-gray-200 hover:bg-gray-300 focus:outline focus:outline-2 focus:outline-gray-700"
      (click)="onSortDesc()"
    >
      <ng-icon name="heroArrowDown"></ng-icon>
    </button>
  </div>
  <button></button>
  <div *ngFor="let note of notes; let i = index">
    <div class="flex gap-3 pb-2 w-full max-w-md mx-auto">
      <button
        type="button"
        class="w-fit h-fit px-2 rounded-md bg-gray-500 text-white hover:bg-gray-700 focus:outline focus:outline-2 focus:outline-gray-700"
        (click)="onPlayHere(i)"
      >
        {{ note.timestamp }}
      </button>
      <p
        class="w-full max-w-md h-fit p-2 pl-3 rounded-md text-gray-900 border border-gray-300"
      >
        {{ note.note }}
      </p>
      <button (click)="onDelete(i)">
        <ng-icon name="heroXMark" class="text-gray-900 text-2xl"></ng-icon>
      </button>
    </div>
  </div>
</div>
