<div class="w-full max-w-7xl mx-auto grid grid-cols-4 gap-4 text-slate-50 m-2">
  <div
    class="aspect-video flex flex-col justify-evenly text-center rounded-md shadow-md"
    *ngFor="let playlist of playlists; let i = index"
    (click)="onOpen(i)"
    [ngStyle]="{
      backgroundImage:
        'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(&quot;' +
        playlist.imgPath +
        '&quot;)',
      backgroundPosition: 'center',
      backgroundSize: 'cover'
    }"
  >
    <p class="text-xl line-clamp-2 xl:line-clamp-none px-2">
      {{ playlist.name }}
    </p>
    <div class="flex flex-col gap-1">
      <p class="text-md">{{ playlist.author }}</p>
      <p class="text-xs">{{ playlist.numOfVideos }} videos</p>
    </div>
  </div>
</div>
