<div class="mx-auto max-w-7xl m-4">
  <form
    class="mx-auto w-full max-w-md px-2 flex flex-col gap-2"
    (ngSubmit)="onSubmit(authForm)"
    #authForm="ngForm"
    ngNativeValidate
  >
    <label class="text-gray-900 text-sm" for="usermail">Email</label>
    <input
      [ngClass]="{
        'invalid:border-red-600 invalid:focus:outline-red-600': email.touched
      }"
      class="text-center text-gray-900 bg-gray-200 py-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700 border"
      type="email"
      placeholder="john@john.com"
      aria-label="user email"
      id="usermail"
      ngModel
      name="email"
      required
      email
      #email="ngModel"
    />
    <label class="text-gray-900 text-sm" for="password"> Password </label>
    <input
      [ngClass]="{
        'invalid:border-red-600 invalid:focus:outline-red-600': password.touched
      }"
      class="text-center text-gray-900 bg-gray-200 py-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700 border invalid:border-red-600 invalid:focus:outline-red-600"
      type="password"
      placeholder="password"
      aria-label="user password"
      id="password"
      ngModel
      name="password"
      required
      minlength="6"
      #password="ngModel"
    />
    <div class="place-content-center flex gap-2 justify-center items-center">
      <button
        type="submit"
        class="w-fit bg-gray-500 hover:bg-gray-700 text-md text-white py-1 px-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700 disabled:bg-gray-400"
        [disabled]="authForm.invalid"
      >
        {{ isSignInMode ? "Sign In" : "Register" }}
      </button>
      <span>&ndash;</span>
      <button
        type="button"
        class="w-fit bg-gray-500 hover:bg-gray-700 text-md text-white py-1 px-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700"
        (click)="onSwitchMode()"
      >
        Switch to {{ isSignInMode ? "Register" : "Sign In" }}
      </button>
    </div>
  </form>
  <div class="mx-auto max-w-md mt-5 text-center text-gray-600">
    <p class="font-bold">Demo user:</p>
    <p><strong>Email:</strong> test&#64;test.com</p>
    <p><strong>Password:</strong> write numbers 1 to 6</p>
  </div>
  <app-error [isLoading]="isLoading" [error]="error"></app-error>
</div>
