<div>
  <button (click)="onBack()">Back to my playlists</button>
</div>

<div class="w-full max-w-7xl mx-auto grid grid-cols-4 gap-4 text-slate-50 m-2">
  <div
    class="aspect-video flex flex-col justify-evenly text-center rounded-md shadow-md"
    *ngFor="let video of videos[0].videos; let i = index"
    (click)="onOpen(i)"
    [ngStyle]="{
      backgroundImage:
        'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(&quot;' +
        video.snippet.thumbnails.standard.url +
        '&quot;)',
      backgroundPosition: 'center',
      backgroundSize: 'cover'
    }"
  >
    <p class="text-xl line-clamp-2 xl:line-clamp-none px-2">
      {{ video.snippet.title }}
    </p>
    <p class="text-md">{{ video.snippet.channelTitle }}</p>
  </div>
</div>
