<p mat-dialog-title>Are you sure?</p>
<mat-form-field>
  <mat-label>Enter new email:</mat-label>
  <input matInput placeholder="jasmine@jasmine.com" required />
</mat-form-field>
<mat-dialog-actions align="center">
  <button
    [mat-dialog-close]="true"
    class="w-fit h-fit px-2 py-1 mr-1 rounded-md bg-red-600 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700"
  >
    Update
  </button>
  <button
    [mat-dialog-close]="false"
    class="w-fit h-fit px-2 py-1 rounded-md bg-gray-700 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700"
  >
    Cancel
  </button>
</mat-dialog-actions>
