<app-error [error]="error"></app-error>
<div class="max-w-6xl mx-auto pt-2 px-2">
  <div class="relative" style="padding-bottom: 56.25%">
    <div
      class="absolute w-full h-full focus:outline focus:outline-2 focus:outline-gray-700"
      id="videoPlayer"
    ></div>
  </div>
</div>

<div class="max-w-6xl mx-auto pt-2 px-2" *ngIf="!error">
  <button
    class="w-full max-w-md mx-auto p-2 mb-4 rounded-md text-gray-900 bg-gray-200 flex justify-between items-center focus:outline focus:outline-2 focus:outline-gray-700"
    (click)="onTakeNote()"
  >
    Take a note
    <ng-icon name="heroPencilSquare" class="text-gray-900 text-2xl"></ng-icon>
  </button>

  <div class="flex gap-1 justify-center content-center" *ngIf="showForm">
    <p class="w-fit h-fit px-2 rounded-md bg-gray-500 text-white">
      {{ timestamp }}
    </p>
    <form
      class="flex flex-col w-full max-w-lg"
      ngNativeValidate
      (ngSubmit)="onSaveNote(noteForm)"
      #noteForm="ngForm"
    >
      <textarea
        type="text"
        id="note"
        class="text-gray-900 bg-gray-200 py-2 p-2 mb-1 rounded-md focus:outline focus:outline-2 focus:outline-gray-700"
        aria-label="Video note"
        ngModel
        #note="ngModel"
        name="note"
        required
        [ngClass]="{ 'border border-red-600': saveNoteBtnClicked }"
      ></textarea>
      <div class="self-end">
        <button
          type="button"
          (click)="onCancelNote(noteForm)"
          class="w-fit h-fit px-2 py-1 mr-1 rounded-md disabled:bg-red-500 bg-red-600 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="!noteForm.valid"
          class="w-fit h-fit px-2 py-1 rounded-md disabled:bg-gray-500 bg-gray-700 text-md text-white focus:outline focus:outline-2 focus:outline-gray-700"
        >
          Save note
        </button>
      </div>
    </form>
  </div>
  <app-notes></app-notes>
  <app-back-btn [showButton]="showButton"></app-back-btn>
  <app-scroll-to-top></app-scroll-to-top>
</div>
