<div class="flex flex-col">
  <form
    class="w-full max-w-lg self-center p-4"
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
  >
    <div class="flex flex-col justify-center content-center">
      <input
        type="text"
        placeholder="e.g. Angular"
        aria-label="Playlist name"
        class="text-center text-gray-900 bg-gray-100 py-2 m-2 focus:outline-none focus:outline-gray-700 rounded-md"
        formControlName="searchInput"
      />
      <button
        type="submit"
        class="w-1/4 mx-auto flex-auto bg-gray-600 hover:bg-gray-700 text-md text-slate-50 font-semibold py-2 rounded-md focus:outline-none focus:outline-gray-700"
      >
        Search
      </button>
    </div>
  </form>

  <div class="w-full max-w-7xl mx-auto grid grid-cols-4 gap-4 p-2">
    <div
      class="flex flex-col items-center"
      *ngFor="let playlist of playlists.items; let i = index"
    >
      <img
        class="aspect-video rounded-md border-gray-700 border border-solid"
        [src]="playlist.snippet.thumbnails.medium.url"
      />
      <div
        class="bg-gradient-to-b from-gray-300 to-gray-100 rounded-md mt-1 py-2 flex flex-col gap-1 relative w-11/12"
      >
        <p class="text-gray-900 font-semibold leading-tight pl-2 w-5/6">
          {{ playlist.snippet.title }}
        </p>
        <p class="text-gray-900 text-sm font-medium pl-2 w-5/6">
          {{ playlist.snippet.channelTitle }}
        </p>
        <button
          type="button"
          class="w-10 h-10 rounded-full flex items-center justify-center bg-red-600 hover:bg-red-700 absolute inset-y-1/2 -translate-x-1/2 -translate-y-1/2 left-full focus:outline-none focus:outline-gray-700"
          (click)="onAdd(i)"
        >
          <ng-icon
            name="heroPlus"
            class="text-white text-3xl text-bold"
          ></ng-icon>
        </button>
      </div>
    </div>
  </div>
</div>
