<div class="flex flex-col">
  <form
    class="w-full max-w-lg self-center p-2 pt-4 sm:p-4"
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
  >
    <div class="flex flex-col justify-center content-center">
      <label for="search" class="text-gray-900 text-sm"
        >Search available playlists:</label
      >
      <input
        type="text"
        id="search"
        placeholder="e.g. Angular"
        aria-label="Playlist name"
        class="text-center text-gray-900 bg-gray-200 py-2 my-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700"
        formControlName="searchInput"
      />
      <button
        type="submit"
        aria-label="Search playlists"
        class="w-1/4 mx-auto flex-auto bg-gray-600 hover:bg-gray-700 text-md text-white font-semibold py-2 rounded-md focus:outline focus:outline-2 focus:outline-gray-700"
      >
        Search
      </button>
    </div>
  </form>
</div>
<app-error [isLoading]="isLoading" [error]="error"></app-error>
<div
  class="w-full max-w-7xl mx-auto grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 py-2 px-4"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  #scroll
>
  <div
    class="flex flex-col items-center"
    *ngFor="let playlist of playlists; let i = index"
  >
    <img
      class="aspect-video rounded-md border-gray-700 border border-solid"
      alt="Playlist thumbnail"
      [src]="playlist.snippet.thumbnails.medium.url"
    />
    <div
      class="bg-gradient-to-b from-gray-300 to-gray-100 rounded-md mt-1 py-2 flex flex-col gap-1 relative w-11/12"
    >
      <p class="text-gray-900 font-semibold leading-tight pl-2 w-5/6">
        {{ playlist.snippet.title }}
      </p>
      <p class="text-gray-900 text-sm font-medium pl-2 w-5/6">
        {{ playlist.snippet.channelTitle }}
      </p>
      <button
        type="button"
        aria-label="Add playlist"
        appAddedPlaylist
        [ngClass]="{
          'playlist-existing': playlist.existing
        }"
        class="playlist-add w-10 h-10 rounded-full flex items-center justify-center absolute inset-y-1/2 -translate-x-1/2 -translate-y-1/2 left-full focus:outline focus:outline-2 focus:outline-gray-700"
        (click)="onAdd(i)"
      >
        <ng-icon
          [name]="
            playlist.added || playlist.existing ? 'heroCheck' : 'heroPlus'
          "
          class="text-white text-3xl text-bold"
        ></ng-icon>
      </button>
    </div>
  </div>
  <div
    class="mx-auto p-4 m-2 text-gray-900 rounded-md border border-gray-600 bg-gray-100"
    *ngIf="showMsg"
  >
    <p>
      "Wow. You're a real explorer. You've seen all the results for the query.
      Please, use a different keyword."
    </p>
  </div>
  <app-scroll-to-top></app-scroll-to-top>
</div>
