<div>
  <div
    class="w-10 h-10 rounded-full bg-red-700 flex justify-center items-center"
  >
    <ng-icon name="heroCheck" class="text-3xl text-white"></ng-icon>
  </div>
  <div
    class="w-10 h-10 rounded-full bg-red-700 flex justify-center items-center"
  >
    <ng-icon name="heroXMark" class="text-3xl text-white"></ng-icon>
  </div>
  <div
    class="w-10 h-10 rounded-full bg-red-700 flex justify-center items-center"
  >
    <ng-icon name="heroPlay" class="text-3xl text-white"></ng-icon>
  </div>
  <div
    class="w-10 h-10 rounded-full bg-red-700 flex justify-center items-center"
  >
    <ng-icon name="heroPlus" class="text-3xl text-white"></ng-icon>
  </div>
  <div
    class="w-10 h-10 rounded-full bg-red-700 flex justify-center items-center"
  >
    <ng-icon name="heroFolderOpen" class="text-3xl text-white"></ng-icon>
  </div>
</div>
