<div class="relative mx-auto max-w-7xl py-16">
  <div class="mx-auto grid grid-rows-auto">
    <div class="justify-self-center">
      <img
        src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg"
        alt="User profile picture"
        class="w-40 h-40 md:w-60 md:h-60 rounded-full m-2 border-4 border-red-600 bg-red-600"
      />
    </div>
    <div class="pb-5 pt-2 flex flex-col justify-center items-center gap-1">
      <p class="font-bold">{{ username }}</p>

      <div class="flex gap-4 justify-center items-center pb-4">
        <p class="inline-block text-gray-900">{{ userEmail }}</p>
        <button
          aria-label="Update your email address"
          type="button"
          class="flex justify-center w-fit p-1 rounded-md text-gray-600 hover:text-gray-900 focus:outline focus:outline-2 focus:outline-gray-700"
          (click)="updateEmail()"
        >
          <ng-icon name="heroPencilSquare" class="text-xl"></ng-icon>
        </button>
      </div>

      <div>
        <button
          class="w-fit py-1 px-2 mr-3 rounded-md border border-gray-400 hover:bg-gray-700 hover:text-white focus:outline focus:outline-2 focus:outline-gray-700"
          (click)="changePassword()"
        >
          Change password
        </button>
        <button
          type="button"
          class="w-fit py-1 px-2 rounded-md border border-gray-400 hover:bg-gray-700 hover:text-white focus:outline focus:outline-2 focus:outline-gray-700"
          (click)="logout()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
  <app-success-message [successMessage]="successMessage"></app-success-message>
  <app-error [error]="error"></app-error>
</div>
