<div class="mx-auto max-w-7xl py-16">
  <div class="mx-auto grid grid-rows-auto w-11/12 rounded-md bg-white">
    <div class="justify-self-center">
      <img
        src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg"
        alt="User profile picture"
        class="w-40 h-40 md:w-60 md:h-60 rounded-full m-2 border-4 border-red-600 bg-red-600"
      />
    </div>
    <div
      class="pb-5 pt-2 flex flex-col justify-center items-center gap-1 text-lg text-gray-900"
    >
      <p class="font-bold">{{ userFirstName }} {{ userLastName }}</p>
      <p class="pb-4">{{ userEmail }}</p>
      <div>
        <button
          class="w-fit py-1 px-2 mr-3 rounded-md border border-gray-400 hover:bg-gray-700 hover:text-white focus:outline focus:outline-2 focus:outline-gray-700"
        >
          Change password
        </button>
        <button
          class="w-fit py-1 px-2 rounded-md border border-gray-400 hover:bg-gray-700 hover:text-white focus:outline focus:outline-2 focus:outline-gray-700"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
